@keyframes fade-in {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes fade-out {
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}

@keyframes fade-in-from-left {
    0% {
        opacity: 0%;
        transform: translateX(-10%);
    }

    100% {
        opacity: 100%;
        transform: translateX(0%);
    }
}