h1,
p, h3, h2, h4, h6, input {
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-weight: inherit;
    line-height: normal;
    color: inherit;
    text-transform: none;
    letter-spacing: normal;
    word-spacing: normal;
    text-align: inherit;
    text-decoration: none;
    text-shadow: none;
    background: none;
    border: none;
    outline: none;
}