$header-color: #111111;
$aqua: #00a0ba;
$white: #eaf9f9;
$header-color-transparent: rgba($white, 0.2);
$hover-btn: #333333;
$time: 0.3s;
$scrollbar-thumb-color: #888;

// Primary Colors
$header-color: #111111;
$aqua: #00a0ba;

// Neutral Colors
$dark-gray: #c7c7c7;
$dark-gray: #dbdbdb;
$light-gray: #edf2fa;
$white: #ffffff;
$mid-gray: #666666;

// Complementary Colors
$orange: #ff7043;
$yellow: #ffd700;
$green: #388e3c;

// Analogous Colors
$dark-blue: #005f73;
$teal: #00796b;